<form ng-submit="sendWarrantyInfo()">
  <input type="number" only-digits ng-model="warranty.devol_cuenta_bancaria"  class="form-control num" name="devol_cuenta_bancaria" id="card-holder-name" placeholder="Número de cuenta sin separadores" required>
  <select name="devol_tipo_cuenta" ng-model="warranty.devol_tipo_cuenta" class="form-control" id="tipo" required>
          <option value="" disabled selected>Selecciona tipo de cuenta</option>
          <option value="A">Ahorros</option>
          <option value="C">Corriente</option>
   </select>
   <select name="devol_banco" ng-model="warranty.devol_banco" class="form-control" id="devol_banco" style="" required>
      <option value="" disabled selected>Banco</option>
       <option value="1">ABN AMRO</option>
       <option value="3">AGRARIO</option>
       <option value="4">AV VILLAS</option>
       <option value="2">BANCAFE (GRANBANCO)</option>
       <option value="97">BANCO MUNDO MUJER</option>
       <option value="5">BANCOLOMBIA</option>
       <option value="15">BANCOOMEVA</option>
       <option value="6">BANITSMO (HSBC)</option>
       <option value="7">BANK BOSTON</option>
       <option value="8">BBVA</option>
       <option value="9">BOGOTA</option>
       <option value="10">CAJA SOCIAL</option>
       <option value="11">CITIBANK</option>
       <option value="12">COLMENA</option>
       <option value="13">COLPATRIA</option>
       <option value="14">CONFIAR</option>
       <option value="89">CORPBANCA</option>
       <option value="17">DAVIVIENDA</option>
       <option value="65">FALABELLA</option>
       <option value="22">GNB SUDAMERIS</option>
       <option value="16">HELM BANK (CREDITO)</option>
       <option value="90">JURISCOOP</option>
       <option value="94">MACROFINANCIERA</option>
       <option value="18">MEGABANCO</option>
       <option value="19">OCCIDENTE</option>
       <option value="82">PICHINCHA</option>
       <option value="20">POPULAR</option>
       <option value="21">SANTANDER</option>
       <option value="24">THE ROYAL BANK OF SCOTLAND (COLOMBIA) S.A. (RBS) </option>
       <option value="23">UNION</option>
   </select>
  <input type="text" ng-model="warranty.devol_nombre_titular" class="form-control keyboard" name="devol_nombre_titular"  placeholder="Nombre del titular" required>
  <input type="number" ng-model="warranty.devol_iden_titular" class="form-control num" name="devol_iden_titular" id="card-holder-name" placeholder="Identificación del titular" required>
  <input type="submit" value="Guardar datos para devolución" name="register">
</form>
